修改
柏厨H5开发内容明细(四款产品).xlsx
SGYX_X
SGYX_D
kitchen
sgyx_big/bakassets
SGYX_X.bin
SGYX_X.bin.xz
SGYX_D.bin
YJN_X
SGYX_D 2
SGYX_Dv3
SGYX_Dv4
sgyx_big_bkv1/bakassets
v3d.js
sgyx_big_bkv1
sgyx_small_bkv1
SGYX_Xv2/Sgyx_X1
SGYX_Xv3
*.zip
*.xz
*.bin
*.gltf
visual_logic.xml
*.max
